
html {
	color: #333333;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
	font-size:13px;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	margin-top: 50px;
	padding: 0px;
	color: #333333;
/*	background-image: url('bgdegradado.gif');*/
	background-repeat: repeat-x;
	background-color: #b3b4b7;
}

#cabecera {
	background-image: url('cabecera.png');
	background-position:right top;
	background-repeat: no-repeat;
	background-color: white;
	width: 100%;
	height: 90px;
}

#cabecera>h1 {
	padding: 40px 0px 0px 111px;
	margin: 0px;
	text-align: center;
}

#centro {
/*	padding: 0px 15px 20px 15px;*/
	background-color: #385c72;
	background-image: url('guanche.png');
   background-position: 0px 220px;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 80%;
/*	min-height: 800px;*/
}

#cuadro {
	background-image: url('hex2.png');
	background-repeat: no-repeat;
   background-position: 33px 23px;
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;
	height: 350px;
}


#cuadro2 {
/*	background-image: url('hex2.png');*/
	background-color: lightgray;
	background-repeat: no-repeat;
   background-position: 33px 23px;
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 30px;
	width: 500px;
	height: 320px;
}


.subcuadro {
	margin: 5px;
}

.celda {
	color: green;
	font-weight: bold;
	font-size: 36px;
	float: left;
	text-align: center;
/*	border: 1px white dotted;	*/
	width: 41px;
	height: 37px;
}

.celda-falsa {
	color: red;
	font-weight: bold;
	font-size: 36px;
	float: left;
	text-align: center;
/*	border: 1px white dotted;	*/
	height: 37px;
	width: 19px;
}

p {
	padding-left: 20px;
}

.pie {
	padding: 0px;
	margin: 0 auto;
	text-align: center;
	font-size: 80%;
	background-color: black;
	color: white;
	width: 80%;
}

.pie>a {
	color: white;
}

.error {
	color: red;
	font-size: 15px;
}


.contenido {
	padding-left: 150px;
}

.listado {
	margin-top: 100px;
	border: 1px dotted gray;
	background-color: lightgray;
	float: right;
	padding-right: 10px;
	margin-right: 20px;
}

.radio {
	width: 4em;
	height: 4em;
	margin-top: 12px;
}

.enviar {
	color: blue;
	background-color: lightgray;
	margin-top: 20px;
	margin-left: 115px;
}

h1 {
	text-align: center;
/*	color: yellow;*/
}


.aviso {
	color: red;
}


#mensaje {
	position: absolute;
	top: 150px;
	margin: 0 auto;
	width: 400px;
	border: 1px dotted red;
	background-color: #333333;
	color: red;
	font-size: 60px;
	text-align: center;
}
